/* Boredom Buster Style Guide */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(236, 236, 236);
}

h1 {
  font-family: "owners-xwide", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: "owners", sans-serif;
  font-weight: 500;
  font-style: normal;
}
